{{/* gets content/_index.md */}}
{{- $home := site.GetPage "/" -}}

<header>
    <a id="logo" href="{{- $home.Permalink -}}">
        <img src="/images/logo.png" alt="logo">
    </a>

    {{/* since results is not initially computed, search == input */}}
    <div id="search">
        <input type="search" placeholder="Search" spellcheck="true">
        {{/* TODO: */}}
        <div></div> 
    </div>

    <nav>
        {{/* cs, other */}}
        {{ range site.Sections.ByTitle }}
            <div class="category">
                {{ .Title }}
                <div>
                    {{/* the sections of the top-level sections */}}
                    {{ range .Sections.ByWeight.Reverse }}
                        <a href="{{- .RelPermalink -}}">{{- .Title -}}</a>
                    {{ end }}
                </div>
            </div>
        {{ end }}
    </nav>
</header> 