.ibm-plex-sans-jp-light {
    font-family: "IBM Plex Sans JP", sans-serif;
    font-weight: 300;
    font-style: normal;
}

.ibm-plex-sans-jp-bold {
    font-family: "IBM Plex Sans JP", sans-serif;
    font-weight: 700;
    font-style: normal;
}

.ibm-plex-sans-light {
    font-family: "IBM Plex Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: italic;
    font-variation-settings: "wdth" 100;
}

.ibm-plex-sans-bold {
    font-family: "IBM Plex Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: italic;
    font-variation-settings: "wdth" 100;
}

// TODO: credit https://www.behance.net/gallery/57785873/Jabin-Free-Font-and-Variable-Typeface
@font-face {
    font-family: 'Jabin';
    src: url(/fonts/Jabin-Typeface.woff2) format(woff2) tech(variations);
    font-style: normal;

    font-weight: 40 120; // defined by Medrano
    font-feature-settings: 
        "kern" on,
        "liga" normal;
    // use font-variation-settings in the main scss to mess with swashes
}

@font-face {
    font-family: "Monaspace Neon";
    src: 
        local("Monaspace Neon"),
        local("Moralerspace Neon"),
        url("/fonts/MonaspaceNeon-Regular.woff2") format("woff2") tech(variations);
    font-style: normal;
    font-weight: normal;
    font-feature-settings: "calt" on, "ss01" on, "ss02" on, "ss03" on, "ss06" on, "ss07" on, "ss08" on, "liga" on, "cv01" 2, "cv62" on;
}

@font-face {
    font-family: "Monaspace Neon";
    src: 
        local("Monaspace Neon"),
        local("Moralerspace Neon"),
        url("/fonts/MonaspaceNeon-Bold.woff2") format("woff2") tech(variations);
    font-style: normal;
    font-weight: bold;
    font-feature-settings: "calt" on, "ss01" on, "ss02" on, "ss03" on, "ss06" on, "ss07" on, "ss08" on, "liga" on, "cv01" 2, "cv62" on;
}

@font-face {
    font-family: "Monaspace Neon";
    src: 
        local("Monaspace Neon"),
        local("Moralerspace Neon"),
        url("/fonts/MonaspaceNeon-Italic.woff2") format("woff2") tech(variations);
    font-style: italic;
    font-weight: normal;
    font-feature-settings: "calt" on, "ss01" on, "ss02" on, "ss03" on, "ss06" on, "ss07" on, "ss08" on, "liga" on, "cv01" 2, "cv62" on;
}

@font-face {
    font-family: "Monaspace Neon";
    src: 
        local("Monaspace Neon"),
        local("Moralerspace Neon"),
        url("/fonts/MonaspaceNeon-BoldItalic.woff2") format("woff2") tech(variations);
    font-style: italic;
    font-weight: bold;
    font-feature-settings: "calt" on, "ss01" on, "ss02" on, "ss03" on, "ss06" on, "ss07" on, "ss08" on, "liga" on, "cv01" 2, "cv62" on;
}