.ibm-plex-sans-jp-light {
    font-family: "IBM Plex Sans JP", sans-serif;
    font-weight: 300;
    font-style: normal;
}

.ibm-plex-sans-jp-bold {
    font-family: "IBM Plex Sans JP", sans-serif;
    font-weight: 700;
    font-style: normal;
}

.ibm-plex-sans-light {
    font-family: "IBM Plex Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: italic;
    font-variation-settings: "wdth" 100;
}

.ibm-plex-sans-bold {
    font-family: "IBM Plex Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: italic;
    font-variation-settings: "wdth" 100;
}

// TODO: credit https://www.behance.net/gallery/57785873/Jabin-Free-Font-and-Variable-Typeface
@font-face {
    font-family: 'Jabin';
    src: url(/fonts/Jabin-Typeface.woff2) format(woff2) tech(variations);
    font-style: normal;

    font-weight: 40 120; // defined by Medrano
    font-feature-settings: 
        "kern" on,
        "liga" normal;
    // use font-variation-settings in the main scss to mess with swashes
}