@use 'sass:math';

// file extension not needed
@use 'header'; 



$base_color: #1C1713; // hsb(27, 32, 11)
$text_color: #FAF1E3; // hsb(37, 9, 98)
$line_height: 2.1;
$p_margin: 1.6rem;

// subtext variables
$subtext_font_size: 0.92rem;
$subtext_line_height: 1.42;



// the root element (referenced by rem)
html {
    background-color: $base_color;
    // weight size/height family
    font: 300 medium/$line_height "IBM Plex Sans JP"; // medium (or 1rem) is user's preferred font size
    color: $text_color;
    text-align: justify; 

    body {
        margin: 0; // browser adds margin by default
        margin-bottom: 18vh;
    }
}

main {
    box-sizing: border-box;
    // top,bottom left,right
    padding: 0 29%;
}



#title {
    margin-top: 6.2rem;
    margin-bottom: 2.26rem;
    font-weight: 106;
    font-size: 4.2rem;
}

h1, h2 {
    margin-top: 4rem;
    margin-bottom: 0;
    text-align: center;

    font: 98 2.96rem/1.11 "Jabin";
    word-spacing: 0.6ch; 
}

h2 {
    margin-top: 3.2rem;
    font-size: 2.6rem;
}

// TODO: other heading levels?

.heading_word {
    display: inline-block; // necessary for ::first-letter 
}
.heading_word::first-letter {
    font-variation-settings: "XXXX" 100; // XXXX is the tag for swashes
}



p, ul, ol, .example_jp {
    margin: $p_margin 0;
}

strong {
    font-weight: 700;
}

em {
    font-family: "IBM Plex Sans";
}

mark {
    background-color: #29c2fff8;
    color: #050200;
}



.subtext > p {
    line-height: $subtext_line_height; 
    margin: 0.33em 0; 
}

// margin collapses with parent. padding expands parent.
.subtext > p:first-child {
    margin-top: -$p_margin;
    // calculate line heights in terms of rem, find difference
    padding-top: math.div(1rem * ($line_height - math.div($subtext_font_size, 1rem) * $subtext_line_height), 2);
}

.subtext > p:last-child {
    margin-bottom: 0;
    padding-bottom: math.div(1rem * ($line_height - math.div($subtext_font_size, 1rem) * $subtext_line_height), 2);
}

$example_jp_line_height: 1.42rem; // i prefer common line heights
.example_jp {
    padding-top: math.div($line_height - $example_jp_line_height, 2);
    padding-bottom: math.div(($line_height - $example_jp_line_height) - ($example_jp_line_height - $subtext_font_size), 2); // i trust
}

.example_jp > p {
    text-align: center;
    line-height: $example_jp_line_height; 
    margin: 0;
}

.subtext, .example_jp > p:last-child  {
    font-size: $subtext_font_size;
    color: color-mix(in xyz-d50, $base_color 84%, $text_color); // TODO:
}



// TODO: lists
ul, ol {
    padding-left: 4ch;

    li::marker {
        font-weight: 700;
    }
}

ul {
    list-style-type: ">  ";
}

// TODO: ol list-style-type



.table {
    padding: math.div($line_height * 1rem - 1, 2) 0; // added onto the "content" size
    margin: $p_margin 0; // surrounding can collapse this
}

table {
    margin: 0 auto;
    /* 
        vertical: the excess (line) height on top of the usual
        horizontal: center align
    */
    border-spacing: 0;
    // TODO: overflow
    
    $cell_line_height: 1.78;
    $table_border: 2px solid hsl(from $base_color h calc(s - 1) calc(l + 5)); // TODO: make darker

    th, td {
        line-height: $cell_line_height;
        /* 
            as if the border was another line with the common line height
            horizontal: also need to pretend there is excess line height for the actual text
        */
        padding: math.div($cell_line_height - 1em, 2) $cell_line_height - 1em;
        border-right: $table_border;
        border-bottom: $table_border;

        text-align: center;
        vertical-align: middle;
    }

    th {
        font-weight: 700;
    }

    // TODO:
    // nth-child() is 1-indexed
    th:nth-child(odd), td:nth-child(odd) {
        // background-color: #241F19; 
        background-color: hsl(from $base_color calc(h - 1) s calc(l + 2));
    }



    $table_radius: math.div($cell_line_height - 1em, 2);
    box-shadow: #17120E 0 0 2px 2px;
    border-radius: $table_radius; // for the shadow

    th:first-child, td:first-child {
        border-left: $table_border;
    }
    th {
        border-top: $table_border;
    }

    th:first-child {
        border-top-left-radius: $table_radius;
    }
    th:last-child {
        border-top-right-radius: $table_radius;
    }
    tr:last-child td:first-child {
        border-bottom-left-radius: $table_radius;
    }
    tr:last-child td:last-child {
        border-bottom-right-radius: $table_radius;
    }
}