@use '../library';



header {
    width: 100%;
    height: 80px;

    position: sticky;
    top: 0px; // makes sticky work
    // 90% is midpoint; #{""} unquotes string (or else it's treated as a number)
    background: linear-gradient(to bottom, 
            library.$base_color + FF 54%, 90%, library.$base_color + #{"00"});

    display: flex;
    align-items: center; // only vertically
    justify-content: center; // aligns only the search bar


    #logo {
        margin-right: auto; // position left
        margin-left: 8px;

        height: 68%;
        img {
            height: 100%; // bound the size
        }
    }

    #search {
        position: absolute; // makes centering easier
        
        input[type=search] {
            background: none;
            color: inherit;
            font-size: 1rem; // reaffirm

            // mimic table styling
            padding: library.$td_padding;
            border: library.$table_border;
            border-radius: library.$table_radius;

            &::placeholder {
                color:library.$search_placeholder_color;
            }

            &:focus {
                outline: none;
                background-color: library.$odd_column_color;
                box-shadow: 0px 0px 9px 5px 
                        hsl(from library.$table_border_color h s l / 0.78);
            }
        }
    }

    nav {
        margin-left: auto; // position right
        margin-right: 2ch; // displace from scrollbar

        display: flex;
        column-gap: 10ch; // between items
        font: 112 1.8rem "Jabin";
    }
}



// dropdown business
.category {
    $v_padding: 1ch; // vertical grace space for hover
    width: 11ch;
    position: relative; // for child div with absolute positioning

    // the title
    p {
        padding: $v_padding 0;
        margin: 0; // clear from base

        text-align: center;
        &::first-letter {
            font-variation-settings: "XXXX" 100;
        }
    }


    // duplicate with dropdown
    div {
        display: none;
        position: absolute;
        z-index: 1;
        width: 100%;

        border: library.$table_border;
        border-radius: library.$table_radius;
        box-sizing: border-box; // border exceeds .category box

        a {
            display: block;
            padding-left: 0.6ch; // indent
            line-height: library.$td_line_height + (library.$td_line_height - 1);

            color: library.$search_placeholder_color;
            text-decoration: none;
            &:hover {
                background-color: library.$odd_column_color;
                color: library.$text_color;
            }
            &:last-child {
                border-bottom-left-radius: library.$table_radius;
                border-bottom-right-radius: library.$table_radius;
            }

            text-align: left;
            font-size: 0.76em;
        }
    }

    // invisible border for no movement on hover
    & > p {
        border: library.$table_border_size solid transparent;
        border-bottom: none;
    }

}


.category:hover {
    // specifically top level one
    & > p {
        display: none;
    }

    div {
        display: block;
    }
}