@use '../library';



ul, ol {
    margin-top: -1 * library.$p_margin; // like another line of <p>
    margin-bottom: library.$p_margin;
    padding-left: 4ch; // indent

    li::marker {
        font-weight: 700;
    }
}

ul {
    list-style-type: ">  "; // align with <ol> markers
}

li {
    padding-left: 1ch;
}

.standalone_l {
    margin-top: library.$p_margin; // just another block element
}