@use '../library';



ul, ol {
    margin-top: -1 * library.$p_margin !important; // override ../styles
    padding-left: 4ch;

    li::marker {
        font-weight: 700;
    }
}

ul {
    list-style-type: ">  "; // align with <ol> markers
}

li {
    padding-left: 1ch;
}