{{/* 
    Formats (HTML) the text of headings for the purposes of only have swashes on the first letters.
    1 positional argument: the text heading. Use standard notation.
*/}}
{{/* standard notation allows for better code style */}}



{{/* starting point as shortcode */}}
{{- partial "inline/heading.html" (.Get 0) -}}



{{/* the passed context is the text */}}
{{- define "_partials/inline/heading.html" -}}
    {{- $s := replace . " " "</span>&nbsp;<span class=\"heading_word\">" -}}
    
    {{/* without safe.HTML, $s would be escaped text */}}
    <span class="heading_word">{{- safeHTML $s -}}</span>
{{- end -}}