{{/* Generate the subheading structure. No arguments; use standard notation. */}}



<div class="subtext">
    {{- range split .Inner "\n" -}}
        {{/* does this paragraph actually have text */}}
        {{- if . -}}
            {{/* 
                $ accesses the starting context (the shortcode) 
                strings.TrimSpace allows for formatting in the actual content
            */}}
            <p>{{- $.Page.RenderString (strings.TrimSpace .) -}}</p>
        {{ end }}
    {{- end -}}
</div>